<link rel="stylesheet" href="/css/home.css">
<% /* %>
     Linking chatboxes css 
    <% */ %>

    <link rel="stylesheet" href="/css/chat_box.css">

<div id="home-container">
  <section id="feed-posts">
    <h4> Posts </h4>
    <% /* %>
      creating form which corresponds to schema
      only signed in user will be able to view form
      using locals.user and not user , reason mentioned in book
      <% */ %>
        <% if(locals.user) {%>
          <form action="/posts/create" id="new-post-form" method="post">
            <% /* %>
              now we need an entire area to write post and not just a small input box hence have used text area
              <% */ %>
                <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
                <input type="submit" value="Post">
          </form>
          <%}%>
  
            <div id="posts-list-container">
              <ul>
                <% /* %>
                  now we will be looping through posts that we have sent from server to browser and display corresponding
                  data
                  we are looping because format for every post is same so its better to loop and save our time otherwise
                  we will have to do for everposts
  
                  <% */ %>
                    <% for(post of all_posts){%>
                      
  
                     <%- include('_post') -%>
  
  
                     <%}%>
              </ul>
            </div>
  
  </section>
  
  <% /* %>
     Now we will create a section that for now will be consisting of list of all users that are there on the website
     In near future we will try to show the current users friends on this <section>
  
  
      Now this section will consist of users and on clicking them we will be redirected to their profile page
     </section>
      <% */ %>
  
  <section id="users-friends">
    <h3>Friends</h3>
    <% /* %>
     Running a loop to display all users
      <% */ %>
      <ul>
      <% for(i of all_users){%>
      
      <li>
        <p>
          <% /* %>
          we will be displaying users profile over here so that if we click on the name we will be redircted to that persons profile
      <% */ %>
          <a href="/users/profile/<%=i.id%>"><%=i.name%></a>
        </p>
      </li>
      
      
        <%}%>
      </ul>
  </section>

  <% /* %>
     Including the chatbox partial
    <% */ %>
    <%- include('_chatbox') -%>
</div>

<% /* %>
including script that will allow us to submit form data asynchoronously viz homeposts.js
 <% */ %>


<script src="/js/home_posts.js">
</script>




<% /* %>
 Including socket.io library with help of cdn which we can find on cdn.js or google socket.io library cdn and selecet socket.io.js and not the minified version for now

<% */ %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<% /* %>
     Including chat_engine.js
    <% */ %>

    <script src="/js/chat_engine.js"></script>



    <% /* %>
      Now we want to run the chat_engine script only if user is signed in otherwise there is no use of running chat_engine
      since we dont want anonymous people to run our script


      We need to initialize the class inside the { home.ejs } file by passing the id of the
      chatbox {user-chat-box}.
   <% */ %>
  <% if(locals.user) {%>
   <script>
     new ChatEngine('user-chat-box','<%= locals.user._id%>');
   </script>
    
    <%}%>

