<html>

<head>
<title>
    <%= title %>
</title>
<link rel="stylesheet" href="css/layouts.css">
<!-- extracted style will be present in <%-style%> its similar to what <%- body%> does -->
<%- style %>
<!-- style is written at bottom so that it overrides the layout css if required -->
</head>

<body>
    <%- include("_header"); -%>

<!-- <%-body %> is a predefined keyword in the ejs layouts library which incidcates the variable part of our website
 the variable part will be sent by controller of a particular route 
for eg when we hit localhost:8000/ the router will call corresponding controller which is homeControllerr which
if we see tells to render home.ejs (which contains the variable part) so this home.ejs will be stored in <%-body%>


and if we hit localhost:8000/users/profile the route will call corresponding controller which is usersCOntroller which
if we see tells to render users.ejs(which contains the variable paart) so this users.ejs will be store in <%-body%>

SO this is how variable part is rendered and it helps us a lot

-->
        <%- body %>

    <%- include("_footer"); -%>

    <%- script %>
</body>
</html>    